* {
  background-color: #303136;
  font-family: sans-serif;
  margin: 0;
  color: white;
}
header {
  display: flex;
  padding: 30px;
  gap: 20px;
  /* border-bottom:white;
  border-bottom-width:1px;
  border-bottom-style:solid; */
}
.activebutton{
  background-color:#212125;
}
nav button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: larger;
}
nav button:hover {
  background-color: grey;
}
a:visited {
  text-decoration: none;
}
