

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;
    background-color: #303136;
    font-family: sans-serif;
}


header {
    display: inline-flex;
    justify-content:flex-start ;
    justify-content: space-between;
    float:left;
    padding: 30px;
    gap: 20px;
    
}
header h1 {
    border: white;
    color: white;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
}

a:visited {text-decoration: none}

nav button{ 
    display:inline-block;
    padding:0.35em 1.2em;
    border:1px solid #FFFFFF;
    margin: 0;
    border-radius:5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    font-size:larger;
        
}

  nav button:hover {
background-color: grey;
   }