html {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}
.paramcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: calc(40vh - 100px);
  width: 90vw;
  gap: 30px;
}
.paramsearch form {
  background-color: rgb(66, 66, 66);
  height: 40px;
  width: 290px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.paramsearch input {
  position: relative;
  all: unset;
  font: 30px;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.paramsearch select {
  height: 40px;
  width: 150px;
  border-radius: 3%;
  background-color: rgb(66, 66, 66);
  border-color: rgb(66, 66, 66);
}

select:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.infopositioner {
  display: flex;
  justify-content: end;
  background-color: white;
  height: calc(80vh - 400px);
  width: 81vw;
}
.infocontainer {
  display: flex;
  background-color: white;
}
.infocontainer form {
  background-color: rgb(66, 66, 66);
  height: 200px;
  width: 30vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
.infocontainer textarea {
  all: unset;
  font: 30px;
  color: white;
  padding: 6px 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
