.searchbar {
  position: absolute;
  top: 50%;
  left: 37%;
  margin: auto;
}

.searchbar form {
  background-color: rgb(66, 66, 66);
  color: white;
  width: 290px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  position: relative;
  all: unset;
  font: 30px;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
::placeholder {
  color: #fff;
  opacity: 0.7;
}
form button {
  position: relative;
  all: inherit;
  cursor: pointer;
  width: 50px;
  height: 100%;
  border-radius: 5px;
}

svg {
  color: #fff;
  fill: white;
  padding: 10px;
  border: solid rgb(66, 66, 66);
  border-radius: 5px;
  border-width: 1px;
}

form svg:hover {
  background-color: grey;
  outline: auto;
}
